* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* Setting 1 rem = 10px;*/
}

body {
  padding: 3rem;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 216, 45, 1) 68%
  );
  min-height: 100vh;
}
